	@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    *{
    	margin: 0;
        padding: 0;
    	/* box-sizing: border-box; */
        background-color: rgb(255, 255, 255);
        font-family: "Inter", sans-serif;
        color: rgb(0, 0, 0);
    }

    a{
        text-decoration: none;
        color: black;
    }
    a:hover {
        font-weight: 500;
    }

    .titre{
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2vw;
        display: flex;
        justify-content: space-between;
        font-size: 12vw;
        font-weight: 300;
        
    }

    .lien{
        margin-top: 10vw;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        font-weight: 300;
    }

    .credit{
        margin-top: 10vw;
        padding: 1vw;
        display: flex;
        justify-content: center;
        font-size: 1vw;
        font-weight: 300;
    }



    /* body{
    	color: rgb(0, 0, 0);
    	background-image: url(photos/20250620_212324.jpg);
    	background-size: cover;
		min-height: 100vh;
    	display: flex;
    	justify-content: center;
        align-items: center;
        flex-direction: column;
    } */